@charset "UTF-8";
input.dimming {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.select2-results__options li:first-child {
  display: none;
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.jqplot-series-canvas-none {
  display: none !important;
}

#chart2 .jqplot-point-label, #chart1 .jqplot-point-label {
  display: none !important;
}

.calc-city-wrap-table {
  overflow-y: auto;
}

#chart1, #chart2 {
  width: 1100px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.calc-dim-table {
  overflow-y: auto;
}

.calc {
  background-color: #F9F9F9;
  padding-bottom: 0;
}

.calc > .container {
  padding-bottom: 70px;
}

.calc-eco {
  background-color: #fff;
  padding: 70px 0;
}

.calc-eco-text {
  display: none;
  margin-top: 40px;
}

.calc-eco-text p {
  margin: 0;
}

.calc-eco-btn {
  margin-top: 50px;
}

.calc-eco-btn .button {
  width: 400px;
  max-width: 100%;
  height: 60px;
  font-size: 20px;
}

.calc-eco-slide {
  display: none;
}

.calc-eco-wrap {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.calc-eco-wrap-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-eco-wrap-item b {
  color: #0072bc;
  margin-bottom: 5px;
}

.calc-eco-wrap-item span {
  color: #c4c3c4;
}

.calc-eco-wrap-item img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.calc-eco-wrap-item div {
  display: block;
  margin: 10px 0;
}

.calc-eco .container h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

.calc-eco .container p {
  font-size: 22px;
  margin-bottom: 5px;
}

.calc-eco .container p b {
  color: #0072bc;
}

.calc-dim {
  background-color: #F9F9F9;
  padding: 70px 0;
}

.calc-dim-profile {
  width: 400px;
  max-width: 100%;
  margin-right: 20px;
  display: block;
  margin-bottom: 70px;
}

.calc-dim-profile label {
  display: block;
  margin-bottom: 5px;
}

.calc-dim-profile div {
  position: relative;
}

.calc-dim-profile div::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 15px;
  top: 22px;
  right: 15px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-image: url(../img/icons/arr.svg);
}

.calc-dim-profile select, .calc-dim-profile input {
  width: 400px;
  max-width: 100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
}

.calc-dim .container h3 {
  font-size: 32px;
}

.calc-dim .container > p {
  font-size: 22px;
  margin-bottom: 25px;
}

.calc-on {
  background-color: #fff;
  padding: 70px 0;
}

.calc-on-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-on-wrap-item {
  width: 400px;
  max-width: 100%;
  margin-right: 20px;
}

.calc-on-wrap-item label {
  display: block;
  margin-bottom: 5px;
}

.calc-on-wrap-item div {
  position: relative;
}

.calc-on-wrap-item div::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 15px;
  top: 22px;
  right: 15px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-image: url(../img/icons/arr.svg);
}

.calc-on-wrap-item select, .calc-on-wrap-item input {
  width: 400px;
  max-width: 100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
}

.calc-on .container h3 {
  font-size: 32px;
}

.calc-on .container > p {
  font-size: 22px;
  margin-bottom: 25px;
}

.calc-city {
  background-color: #F9F9F9;
  padding-top: 50px;
  padding-bottom: 70px;
}

.calc-city-wrap-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.calc-city-wrap-input-select label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.calc-city-wrap-input-select div {
  width: 400px;
  max-width: 100%;
  position: relative;
}

.calc-city-wrap-input-select div::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 15px;
  top: 22px;
  right: 15px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-image: url(../img/icons/arr.svg);
}

.calc-city-wrap-input-select div input, .calc-city-wrap-input-select div select {
  width: 400px;
  max-width: 100%;
  height: 50px;
}

.calc-city-wrap-input-map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
  margin-left: 20px;
}

.calc-city-wrap-input-map b {
  margin-right: 5px;
}

.calc-city-wrap-input-map p {
  margin-right: 15px;
}

.calc-city .container h3 {
  font-size: 32px;
}

.calc-city .container > p {
  font-size: 22px;
  margin-bottom: 25px;
}

.calc-kw {
  background-color: #fff;
  padding: 70px 0;
}

.calc-kw .container h3 {
  font-size: 32px;
}

.calc-kw .container > p {
  font-size: 22px;
  margin-bottom: 25px;
}

.calc-kw .container label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.calc-kw .container div {
  position: relative;
  width: 400px;
  max-width: 100%;
}

.calc-kw .container div::after {
  position: absolute;
  content: '₽';
  font-size: 18px;
  font-weight: 400;
  top: 12px;
  right: 15px;
}

.calc-kw .container input {
  height: 50px;
  border: 1px solid #C4C4C4;
  width: 400px;
  max-width: 100%;
}

.calc .text p {
  font-size: 22px;
  margin-bottom: 50px;
}

.calc-wrap h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.calc-wrap > p {
  font-size: 20px;
  margin-bottom: 25px;
}

.calc-form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.calc-form-row-item {
  width: 30%;
  padding-right: 15px;
}

.calc-form-row-item:nth-child(1) {
  position: relative;
}

.calc-form-row-item:nth-child(1)::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 15px;
  top: 43px;
  right: 30px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-image: url(../img/icons/arr.svg);
}

.calc-form-row-item .button {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 100%;
  max-width: 100%;
}

.calc-form-row-item .button.alt-btn {
  background-color: #fff;
  color: #0072BC;
  border: 1px solid #0072BC;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.calc-form-row-item .button.alt-btn:hover {
  background-color: #01548A;
  color: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.calc-form-row-item:nth-child(2), .calc-form-row-item:nth-child(4) {
  width: 20%;
}

.calc-form-row-item input, .calc-form-row-item select {
  height: 50px;
  width: 100%;
  max-width: 100%;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  border: 1px solid #C4C4C4;
}

.calc-dim-table-wrap {
  max-width: 1100px;
  margin: auto;
  padding-left: 30px;
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calc-dim-table-wrap-item input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 30px;
  width: 39px;
  padding-left: 7px;
  font-size: 14px;
  color: rgba(4, 4, 4, 0.6);
  margin-right: 5.5px;
}

.calc-dim-table-wrap-item input::-webkit-outer-spin-button,
.calc-dim-table-wrap-item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1200px) {
  .calc-dim-table-wrap {
    max-width: 1100px;
    margin: auto;
    padding-left: 30px;
    margin-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .calc-dim-table-wrap-item input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 30px;
    width: 37px;
    padding-left: 7px;
    font-size: 14px;
    color: rgba(4, 4, 4, 0.6);
    margin-right: 5.5px;
  }
  .jqplot-table-legend {
    top: 50px !important;
    left: 40px !important;
  }
  #chart1, #chart2 {
    padding-left: 50px;
    overflow-y: scroll;
  }
}

@media (max-width: 992px) {
  .calc-dim-table-wrap {
    max-width: 1100px;
    margin: auto;
    padding-left: 30px;
    margin-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .calc-dim-table-wrap-item input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 30px;
    width: 39px;
    padding-left: 7px;
    font-size: 14px;
    color: rgba(4, 4, 4, 0.6);
    margin-right: 5.5px;
  }
  .jqplot-xaxis-tick,
  .jqplot-yaxis-tick {
    font-size: 10px;
  }
  #chart1, #chart2 {
    max-height: 400px;
    padding-left: 0;
  }
  .calc {
    padding-top: 120px;
    position: relative;
  }
  .calc-eco-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  .calc-eco-wrap-item {
    width: 33.3%;
    margin-bottom: 30px;
  }
  .calc-dim-profile div {
    max-width: 300px;
  }
  .calc-on-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .calc-on-wrap-item {
    margin-bottom: 20px;
    margin-right: 0;
    max-width: 300px;
  }
  .calc label {
    font-size: 13px !important;
  }
  .calc-city-wrap-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .calc-city-wrap-input-select {
    max-width: 300px;
  }
  .calc-city-wrap-input-map {
    margin-left: 0;
  }
  .calc-city-wrap-input-map b, .calc-city-wrap-input-map p {
    font-size: 16px;
  }
  .calc-wrap {
    margin-top: 50px;
  }
  .calc-wrap h2 {
    font-size: 28px;
    margin-bottom: 0;
  }
  .calc-wrap > p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .calc .container h3 {
    font-size: 28px;
    margin-bottom: 0;
  }
  .calc .container > p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .calc .title {
    margin-bottom: 40px;
  }
  .calc .text p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .calc::after {
    position: absolute;
    content: '';
    height: 70px;
    width: 100%;
    background-color: #040404;
    top: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  .calc-city-wrap-input-map {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .calc-city-wrap-input-map b {
    width: 100%;
  }
  .calc-city-wrap-input-map p {
    width: 100%;
    margin-bottom: 20px;
  }
  .calc-form-row-item:nth-child(1) {
    width: 200px;
  }
  .calc-form-row-item:nth-child(1)::after {
    top: 39px;
    width: 10px;
  }
  .calc-form-row-item:nth-child(2) {
    width: 80px;
  }
  .calc-form-row-item:nth-child(3) {
    width: 100px;
  }
  .calc-form-row-item:nth-child(4) {
    width: 25%;
  }
  .calc-form-row-item input, .calc-form-row-item select {
    height: 40px;
    font-size: 14px;
  }
  .calc-form-row-item .button {
    font-size: 14px;
    height: 40px;
  }
}

@media (max-width: 578px) {
  .calc .container .calc-eco-text p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .calc .container .calc-eco-text b {
    font-size: 18px;
  }
  .calc-dim-table-wrap {
    margin: auto;
    padding-left: 30px;
    margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .calc-dim-table-wrap-item input {
    height: 25px;
    width: 27px;
    padding-left: 3px;
    font-size: 12px;
    margin-right: 5px;
  }
  #chart2 .jqplot-xaxis-tick {
    font-size: 8px;
  }
  .calc-city-wrap-input {
    margin-bottom: 0;
  }
  #chart1, #chart2 {
    max-height: 300px;
    padding-left: 0;
  }
  .calc-eco {
    padding: 40px 0;
  }
  .calc-dim {
    padding: 40px 0;
  }
  .calc-on {
    padding: 40px 0;
  }
  .calc-eco-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calc-eco-wrap-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calc-eco-wrap-item div {
    font-size: 14px;
    margin: 0;
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    max-width: 100%;
  }
  .calc-eco-wrap-item b {
    font-size: 16px;
    margin: 0 15px;
    width: 80px;
    text-align: end;
  }
  .calc-eco-wrap-item span {
    margin: 0;
    font-size: 16px;
    width: 135px;
  }
  .calc-eco-wrap-item img {
    max-width: 50px;
    margin-right: 15px;
  }
  .calc-city-wrap-input-select div,
  .calc-city-wrap-input-select,
  .calc-city-wrap-input,
  .calc-on-wrap-item,
  .calc-on-wrap-item select, .calc-on-wrap-item input,
  .calc-dim-profile select, .calc-dim-profile input,
  .calc-dim-profile div {
    width: 100%;
    max-width: 100%;
  }
  .calc-city-wrap-input-select div input, .calc-city-wrap-input-select div select {
    width: 100%;
    max-width: 100%;
  }
  .calc-city {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .calc .container h3 {
    font-size: 24px;
  }
  .calc .container > p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .calc-kw {
    padding: 40px 0;
  }
  .calc > .container {
    padding-bottom: 50px;
  }
  .calc label {
    font-size: 10px !important;
  }
  .calc-wrap {
    margin-top: 30px;
  }
  .calc-wrap h2 {
    font-size: 24px;
  }
  .calc-wrap > p {
    font-size: 14px;
  }
  .calc-form-row {
    margin-bottom: 5px;
  }
  .calc-form-row-item {
    padding-right: 5px;
  }
  .calc-form-row-item:nth-child(1) {
    width: 160px;
  }
  .calc-form-row-item:nth-child(1)::after {
    top: 39px;
    right: 15px;
    width: 10px;
  }
  .calc-form-row-item:nth-child(2) {
    width: 60px;
  }
  .calc-form-row-item:nth-child(3) {
    width: 80px;
  }
  .calc-form-row-item:nth-child(4) {
    width: 25%;
    padding-right: 0;
  }
  .calc-form-row-item input, .calc-form-row-item select {
    height: 40px;
    font-size: 12px;
  }
  .calc-form-row-item .button {
    font-size: 14px;
    height: 40px;
  }
  .calc-dim-table, .calc-city-wrap-table {
    width: 100vw;
    padding-left: 15px;
    position: relative;
    left: -15px;
  }
  #chart1, #chart2 {
    max-width: 800px;
  }
  .calc-dim-profile {
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .calc label {
    font-size: 8px !important;
  }
  .calc-form-row {
    margin-bottom: 5px;
  }
  .calc-form-row-item {
    padding-right: 5px;
  }
  .calc-form-row-item:nth-child(1) {
    width: 140px;
  }
  .calc-form-row-item:nth-child(1)::after {
    top: 36px;
    right: 15px;
    width: 8px;
  }
  .calc-form-row-item:nth-child(2) {
    width: 40px;
  }
  .calc-form-row-item:nth-child(3) {
    width: 60px;
  }
  .calc-form-row-item:nth-child(4) {
    width: 25%;
    padding-right: 0;
  }
  .calc-form-row-item input, .calc-form-row-item select {
    padding-left: 5px;
    height: 35px;
    font-size: 12px;
  }
  .calc-form-row-item .button {
    font-size: 12px;
    height: 35px;
  }
}
