.solution-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%;
  padding-top: 50px;
}

.solution-wrap .title {
  width: 100%;
}

.solution-wrap-right {
  width: -webkit-calc(100% - 930px);
  width: calc(100% - 930px);
  padding-top: 135px;
}

.solution-wrap-right-item {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 46px;
  margin-left: 50px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.solution-wrap-right-item:hover {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #01548A;
}

.solution-wrap-right-item-active {
  color: #01548A;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.solution-wrap-left {
  width: 930px;
  position: relative;
  height: 100%;
}

.solution-wrap-left-item {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.solution-wrap-left-item video {
  width: 100%;
  height: 540px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  top: 0;
  left: 0;
}

.solution-wrap-left-item h3 {
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.solution-wrap-left-item p {
  font-size: 20px;
}

.solution-wrap-left-item-active {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.present-wrap-item {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.present-wrap-item p {
  text-align: center;
  width: 100%;
  font-size: 28px;
  margin-top: 40px;
}

.present-wrap-item img {
  max-height: 700px;
  margin: auto;
  display: block;
}

.present-wrap-item-active {
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.about {
  background-image: url(../img/about/1.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.about .fp-tableCell {
  vertical-align: top;
}

.about .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-top: 200px;
}

.about .container::after {
  position: absolute;
  content: '';
  background-image: url(../img/about/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  width: 150px;
  -webkit-background-size: contain;
          background-size: contain;
  top: 240px;
  left: -webkit-calc(50% - 8px);
  left: calc(50% - 8px);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-left {
  width: 50%;
}

.about-left h2 {
  font-size: 60px;
  font-weight: 500;
  max-width: 600px;
  text-align: end;
}

.about-right {
  width: 50%;
  color: #040404;
  position: relative;
}

.about-right-item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: absolute;
  height: 100%;
  top: 0;
  left: 140px;
  opacity: 0;
}

.about-right-item h3 {
  font-size: 46px;
  margin-bottom: 60px;
  font-weight: 600;
  width: 100%;
  margin-top: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
  bottom: -100px;
}

.about-right-item p {
  font-size: 30px;
  margin-bottom: 50px;
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative;
  bottom: -100px;
}

.about-right-item img {
  margin-right: 0;
  display: block;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  position: relative;
  bottom: -100px;
}

.about-right-item-active {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.about-right-item-active h3, .about-right-item-active p, .about-right-item-active img {
  bottom: 0;
  opacity: 1;
}

.news-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-wrap-item {
  width: -webkit-calc(25% - 10px);
  width: calc(25% - 10px);
  cursor: pointer;
}

.news-wrap-item:hover h3 {
  color: #01548A;
}

.news-wrap-item .date {
  color: #C738A3;
}

.news-wrap-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 230px;
}

.news-wrap-item h3 {
  font-size: 22px;
  margin: 10px 0;
}

.news-wrap-item p {
  color: #F9F9F9;
  font-size: 18px;
  opacity: .8;
}
