@-webkit-keyframes present {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes present {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes present2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes present2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@-webkit-keyframes present3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes present3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes textSlideUp {
  0% {
    bottom: -300px;
    opacity: 1;
  }
  15% {
    bottom: 0;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 1;
  }
  75% {
    bottom: 0;
    opacity: 1;
  }
  90% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: -300px;
  }
}

@keyframes textSlideUp {
  0% {
    bottom: -300px;
    opacity: 1;
  }
  15% {
    bottom: 0;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 1;
  }
  75% {
    bottom: 0;
    opacity: 1;
  }
  90% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: -300px;
  }
}

@-webkit-keyframes textSlideUpF {
  0% {
    bottom: -300px;
    opacity: 1;
  }
  15% {
    bottom: 0;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 1;
  }
  75% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes textSlideUpF {
  0% {
    bottom: -300px;
    opacity: 1;
  }
  15% {
    bottom: 0;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 1;
  }
  75% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes opacitys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacitys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.solution {
  min-height: 1000px;
  overflow: hidden;
}

.solution-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 50px;
}

.solution-wrap .title {
  width: 100%;
}

.solution-wrap-right {
  width: -webkit-calc(100% - 930px);
  width: calc(100% - 930px);
  padding-top: 135px;
}

.solution-wrap-right-item {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 46px;
  margin-left: 50px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.solution-wrap-right-item:hover {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #01548A;
}

.solution-wrap-right-item-active {
  color: #01548A;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.solution-wrap-left {
  width: 930px;
  position: relative;
  height: 100%;
}

.solution-wrap-left-item {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.solution-wrap-left-item video {
  width: 100%;
  height: 540px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  top: 0;
  left: 0;
}

.solution-wrap-left-item h3 {
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.solution-wrap-left-item p {
  font-size: 20px;
}

.solution-wrap-left-item-active {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.sovtest {
  padding-top: 90px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sovtest p {
  display: block;
  width: 100%;
  font-size: 24px;
  margin-bottom: 70px;
}

.present {
  position: relative;
}

.present .present-active .present-wrap-item:nth-child(1) {
  -webkit-animation: present 3s;
          animation: present 3s;
}

.present .present-active .present-wrap-item:nth-child(2) {
  -webkit-animation: present2 3s;
          animation: present2 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.present .present-active .present-wrap-item:nth-child(3) {
  -webkit-animation: present3 3s;
          animation: present3 3s;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.present-wrap {
  height: 900px;
}

.present-wrap-item {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.present-wrap-item p {
  text-align: center;
  width: 100%;
  font-size: 28px;
  margin-top: 40px;
}

.present-wrap-item img {
  max-height: -webkit-calc(100% - 300px);
  max-height: calc(100% - 300px);
  margin: auto;
  display: block;
}

.about {
  background-image: url(../img/about/1.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  z-index: 10;
}

.about .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-top: 200px;
}

.about .container::after {
  position: absolute;
  content: '';
  background-image: url(../img/about/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  width: 150px;
  -webkit-background-size: contain;
          background-size: contain;
  top: 240px;
  left: -webkit-calc(50% - 8px);
  left: calc(50% - 8px);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-left {
  width: 50%;
  min-height: 800px;
}

.about-left h2 {
  font-size: 60px;
  font-weight: 500;
  max-width: 600px;
  text-align: end;
}

.about-right {
  width: 50%;
  color: #040404;
  position: relative;
  height: 800px;
}

.about-right-item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 1;
  position: absolute;
  min-height: 800px;
  top: 0;
  left: 140px;
  opacity: 0;
  background-color: #F9F9F9;
}

.about-right-item div {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.about-right-item h3 {
  font-size: 46px;
  margin-bottom: 60px;
  font-weight: 600;
  width: 100%;
  margin-top: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
  bottom: -300px;
  text-align: start;
  display: block;
}

.about-right-item p {
  font-size: 30px;
  margin-bottom: 50px;
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative;
  bottom: -300px;
}

.about-right-item img {
  margin-right: 0;
  display: block;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  position: relative;
  bottom: -300px;
}

.about-right-item-active {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.about-active .about-right-item img, .about-active .about-right-item h3, .about-active .about-right-item p {
  -webkit-animation: textSlideUp;
          animation: textSlideUp;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  /** animation-fill-mode: forwards **/
}

.about-active .about-right-item p {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.about-active .about-right-item img {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.about-active .about-right-item:nth-child(2) {
  -webkit-animation-name: opacitys;
          animation-name: opacitys;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(2) img, .about-active .about-right-item:nth-child(2) h3, .about-active .about-right-item:nth-child(2) p {
  -webkit-animation: textSlideUp;
          animation: textSlideUp;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(2) p {
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}

.about-active .about-right-item:nth-child(2) img {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.about-active .about-right-item:nth-child(3) {
  -webkit-animation-name: opacitys;
          animation-name: opacitys;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(3) img, .about-active .about-right-item:nth-child(3) h3, .about-active .about-right-item:nth-child(3) p {
  -webkit-animation: textSlideUp;
          animation: textSlideUp;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(3) p {
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
}

.about-active .about-right-item:nth-child(3) img {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.about-active .about-right-item:nth-child(4) {
  -webkit-animation-name: opacitys;
          animation-name: opacitys;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(4) img, .about-active .about-right-item:nth-child(4) h3, .about-active .about-right-item:nth-child(4) p {
  -webkit-animation: textSlideUp;
          animation: textSlideUp;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(4) p {
  -webkit-animation-delay: 18.5s;
          animation-delay: 18.5s;
}

.about-active .about-right-item:nth-child(4) img {
  -webkit-animation-delay: 19s;
          animation-delay: 19s;
}

.about-active .about-right-item:nth-child(5) {
  -webkit-animation-name: opacitys;
          animation-name: opacitys;
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(5) img, .about-active .about-right-item:nth-child(5) h3, .about-active .about-right-item:nth-child(5) p {
  -webkit-animation: textSlideUpF;
          animation: textSlideUpF;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(5) p {
  -webkit-animation-delay: 24.5s;
          animation-delay: 24.5s;
}

.about-active .about-right-item:nth-child(5) img {
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}

.news {
  padding-top: 50px;
  padding-bottom: 50px;
}

.news-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-wrap-item {
  width: -webkit-calc(25% - 10px);
  width: calc(25% - 10px);
  cursor: pointer;
}

.news-wrap-item:hover h3 {
  color: #01548A;
}

.news-wrap-item .date {
  color: #C738A3;
}

.news-wrap-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.news-wrap-item h3 {
  font-size: 18px;
  margin: 10px 0;
}

.news-wrap-item p {
  color: #F9F9F9;
  font-size: 16px;
  opacity: .8;
}

.footer {
  padding-bottom: 50px;
}

.footer-brands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-footer .social a {
  margin: 0 15px;
}

.footer-footer .phone {
  font-size: 34px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer-footer .phone:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #01548A;
}

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding-bottom: 50px;
}

.footer-nav-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav ul li {
  margin-left: 15px;
}

.footer-nav ul li a {
  font-size: 24px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer-nav ul li a:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #01548A;
}

@media (max-width: 1600px) {
  .solution {
    min-height: 940px;
  }
  .about p {
    font-size: 18px;
    text-align: start;
  }
  .about h3 {
    font-size: 32px;
    text-align: start;
  }
  .about-left {
    padding-left: 30px;
    min-height: 600px;
  }
  .about-right {
    min-height: 0px;
    height: auto;
  }
  .about-right-item {
    padding-right: 70px;
    min-height: 500px;
  }
}

@media (max-width: 1370px) {
  .offer h1 {
    font-size: 90px;
  }
  .offer p {
    font-size: 24px;
  }
  .solution {
    min-height: 780px;
  }
  .solution-wrap-left {
    width: 650px;
    height: 360px;
  }
  .solution-wrap-left video {
    width: 650px;
    height: 360px;
  }
  .solution-wrap-left h3 {
    font-size: 24px;
  }
  .solution-wrap-left p {
    font-size: 18px;
  }
  .solution-wrap-right {
    width: -webkit-calc(100% - 650px);
    width: calc(100% - 650px);
    padding-top: 100px;
  }
  .solution-wrap-right-item {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .present-wrap {
    min-height: 750px;
    height: auto;
  }
  .about .container {
    padding-top: 70px;
  }
  .about .container::after {
    top: 90px;
  }
  .about-right-item {
    left: 110px;
    padding-right: 0;
  }
  .about-right-item div {
    display: block;
  }
  .about-right-item div img {
    margin-right: 0;
    margin-left: auto;
    max-width: 170px;
  }
  .about-left {
    min-height: 500px;
    padding-left: 0;
    padding-right: 110px;
  }
  .about-left h2 {
    font-size: 46px;
  }
  .news-wrap-item .date {
    font-size: 14px;
  }
  .news-wrap-item h3 {
    font-size: 14px;
  }
  .news-wrap-item p {
    font-size: 14px;
  }
  .news-wrap-item img {
    height: 170px;
  }
  .footer-brands {
    padding-bottom: 0;
  }
  .footer-nav ul li a {
    font-size: 16px;
  }
  .footer-footer .social a img {
    max-width: 20px;
    max-height: 20px;
  }
  .footer-footer p {
    font-size: 16px;
  }
  .footer-footer a.phone {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  .solution {
    min-height: 700px;
  }
  .solution-wrap-left {
    width: 500px;
  }
  .solution-wrap-left-item {
    width: 500px;
  }
  .solution-wrap-left-item video {
    width: 500px;
    height: 300px;
  }
  .solution-wrap-right {
    width: -webkit-calc(100% - 500px);
    width: calc(100% - 500px);
    padding-top: 30px;
  }
  .present-wrap {
    min-height: 600px;
  }
  .present-wrap-item p {
    font-size: 18px;
  }
  .present-wrap-item img {
    min-height: 300px;
  }
  .footer-nav {
    margin-bottom: 20px;
  }
  .footer-brands {
    padding-bottom: 30px;
  }
  .footer-brands img {
    max-width: -webkit-calc(100% / 6);
    max-width: calc(100% / 6);
  }
}
