@-webkit-keyframes present {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes present {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes present2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes present2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@-webkit-keyframes present3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes present3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes textSlideUp {
  0% {
    bottom: -300px;
    opacity: 1;
  }
  15% {
    bottom: 0;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 1;
  }
  75% {
    bottom: 0;
    opacity: 1;
  }
  90% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: -300px;
  }
}

@keyframes textSlideUp {
  0% {
    bottom: -300px;
    opacity: 1;
  }
  15% {
    bottom: 0;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 1;
  }
  75% {
    bottom: 0;
    opacity: 1;
  }
  90% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: -300px;
  }
}

@-webkit-keyframes textSlideUpF {
  0% {
    bottom: -300px;
    opacity: 1;
  }
  15% {
    bottom: 0;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 1;
  }
  75% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes textSlideUpF {
  0% {
    bottom: -300px;
    opacity: 1;
  }
  15% {
    bottom: 0;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 1;
  }
  75% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes opacitys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacitys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.solution {
  min-height: 1000px;
  overflow: hidden;
}

.solution-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 50px;
}

.solution-wrap .title {
  width: 100%;
}

.solution-wrap-right {
  width: -webkit-calc(100% - 930px);
  width: calc(100% - 930px);
  padding-top: 135px;
}

.solution-wrap-right-item {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 46px;
  margin-left: 50px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.solution-wrap-right-item:hover {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #01548A;
}

.solution-wrap-right-item-active {
  color: #01548A;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.solution-wrap-left {
  width: 930px;
  position: relative;
  height: 100%;
}

.solution-wrap-left-item {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.solution-wrap-left-item video {
  width: 100%;
  height: 540px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  top: 0;
  left: 0;
}

.solution-wrap-left-item h3 {
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.solution-wrap-left-item p {
  font-size: 20px;
}

.solution-wrap-left-item-active {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.sovtest {
  padding-top: 90px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sovtest p {
  display: block;
  width: 100%;
  font-size: 24px;
  margin-bottom: 70px;
}

.present {
  position: relative;
}

.present .present-active .present-wrap-item:nth-child(1) {
  -webkit-animation: present 3s;
          animation: present 3s;
}

.present .present-active .present-wrap-item:nth-child(2) {
  -webkit-animation: present2 3s;
          animation: present2 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.present .present-active .present-wrap-item:nth-child(3) {
  -webkit-animation: present3 3s;
          animation: present3 3s;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.present-wrap {
  height: 900px;
}

.present-wrap-item {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.present-wrap-item p {
  text-align: center;
  width: 100%;
  font-size: 28px;
  margin-top: 40px;
}

.present-wrap-item img {
  max-height: -webkit-calc(100% - 300px);
  max-height: calc(100% - 300px);
  margin: auto;
  display: block;
}

.about {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  z-index: 10;
}

.about .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-top: 200px;
}

.about .container::after {
  position: absolute;
  content: '';
  background-image: url(../img/about/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  width: 150px;
  -webkit-background-size: contain;
          background-size: contain;
  top: 240px;
  left: -webkit-calc(50% - 8px);
  left: calc(50% - 8px);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-left {
  width: 50%;
  min-height: 800px;
}

.about-left h2 {
  font-size: 60px;
  font-weight: 500;
  max-width: 600px;
  text-align: end;
}

.about-right {
  width: 50%;
  color: #040404;
  position: relative;
  height: 800px;
}

.about-right-item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 1;
  position: absolute;
  min-height: 800px;
  top: 0;
  left: 140px;
  opacity: 0;
  background-color: #F9F9F9;
}

.about-right-item div {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.about-right-item h3 {
  font-size: 46px;
  margin-bottom: 60px;
  font-weight: 600;
  width: 100%;
  margin-top: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
  bottom: -300px;
  text-align: start;
  display: block;
}

.about-right-item p {
  font-size: 30px;
  margin-bottom: 50px;
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative;
  bottom: -300px;
}

.about-right-item img {
  margin-right: 0;
  display: block;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  position: relative;
  bottom: -300px;
}

.about-right-item-active {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.about.lazyloaded {
  background-image: url(../img/about/1.jpg);
}

.about-active .about-right-item img, .about-active .about-right-item h3, .about-active .about-right-item p {
  -webkit-animation: textSlideUp;
          animation: textSlideUp;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  /** animation-fill-mode: forwards **/
}

.about-active .about-right-item p {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.about-active .about-right-item img {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.about-active .about-right-item:nth-child(2) {
  -webkit-animation-name: opacitys;
          animation-name: opacitys;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(2) img, .about-active .about-right-item:nth-child(2) h3, .about-active .about-right-item:nth-child(2) p {
  -webkit-animation: textSlideUp;
          animation: textSlideUp;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(2) p {
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}

.about-active .about-right-item:nth-child(2) img {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.about-active .about-right-item:nth-child(3) {
  -webkit-animation-name: opacitys;
          animation-name: opacitys;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(3) img, .about-active .about-right-item:nth-child(3) h3, .about-active .about-right-item:nth-child(3) p {
  -webkit-animation: textSlideUp;
          animation: textSlideUp;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(3) p {
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
}

.about-active .about-right-item:nth-child(3) img {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.about-active .about-right-item:nth-child(4) {
  -webkit-animation-name: opacitys;
          animation-name: opacitys;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(4) img, .about-active .about-right-item:nth-child(4) h3, .about-active .about-right-item:nth-child(4) p {
  -webkit-animation: textSlideUp;
          animation: textSlideUp;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(4) p {
  -webkit-animation-delay: 18.5s;
          animation-delay: 18.5s;
}

.about-active .about-right-item:nth-child(4) img {
  -webkit-animation-delay: 19s;
          animation-delay: 19s;
}

.about-active .about-right-item:nth-child(5) {
  -webkit-animation-name: opacitys;
          animation-name: opacitys;
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(5) img, .about-active .about-right-item:nth-child(5) h3, .about-active .about-right-item:nth-child(5) p {
  -webkit-animation: textSlideUpF;
          animation: textSlideUpF;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-active .about-right-item:nth-child(5) p {
  -webkit-animation-delay: 24.5s;
          animation-delay: 24.5s;
}

.about-active .about-right-item:nth-child(5) img {
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}

.news {
  padding-top: 50px;
  padding-bottom: 50px;
}

.news-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-wrap-item {
  width: -webkit-calc(25% - 10px);
  width: calc(25% - 10px);
  cursor: pointer;
}

.news-wrap-item:hover h3 {
  color: #01548A;
}

.news-wrap-item .date {
  color: #C738A3;
}

.news-wrap-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.news-wrap-item h3 {
  font-size: 18px;
  margin: 10px 0;
}

.news-wrap-item p {
  color: #F9F9F9;
  font-size: 16px;
  opacity: .8;
}

.footer {
  padding-bottom: 50px;
}

.footer-brands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-footer-logo {
  display: none;
}

.footer-footer .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-footer .social a {
  margin: 0 15px;
}

.footer-footer .phone {
  font-size: 34px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer-footer .phone:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #01548A;
}

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding-bottom: 50px;
}

.footer-nav-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav ul li {
  margin-left: 15px;
}

.footer-nav ul li a {
  font-size: 24px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer-nav ul li a:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #01548A;
}

.overlay {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 31, 39, 0.85);
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 250;
  max-width: 500px;
  display: none;
}

.popup h3 {
  font-size: 44px;
  font-weight: 400;
  padding-right: 60px;
}

.popup p {
  font-size: 20px;
  padding-right: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.popup .close:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #01548A;
}

.popup-wrap-form {
  background-color: #040404;
  padding: 50px 30px;
}

.popup-wrap-form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.popup-wrap-form-row:last-child {
  margin-bottom: 0;
}

.popup-wrap-form-row input, .popup-wrap-form-row textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1E1F27;
  border: none;
  max-width: 100%;
  width: 100%;
  color: #fff;
}

.popup-wrap-form-row input {
  height: 45px;
}

.popup-wrap-form-row input.button {
  background-color: #0072bc;
  height: 60px;
  margin-top: 30px;
}

#thx {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1f27;
  z-index: 300;
  display: none;
}

#thx .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#thx .container h3 {
  font-size: 44px;
  margin-bottom: 30px;
}

#thx .container p {
  font-size: 24px;
  text-align: center;
}

.social a {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: bottom center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social a:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.social a:nth-child(1) {
  background-image: url(../img/icons/fb.svg);
}

.social a:nth-child(1):hover {
  background-image: url(../img/icons/fb-h.svg);
}

.social a:nth-child(2) {
  background-image: url(../img/icons/yt.svg);
}

.social a:nth-child(2):hover {
  background-image: url(../img/icons/yt-h.svg);
}

.social a:nth-child(3) {
  background-image: url(../img/icons/tw.svg);
}

.social a:nth-child(3):hover {
  background-image: url(../img/icons/tw-h.svg);
}

.social a:nth-child(4) {
  background-image: url(../img/icons/ln.svg);
}

.social a:nth-child(4):hover {
  background-image: url(../img/icons/ln-h.svg);
}

@media (max-width: 1600px) {
  .solution {
    min-height: 940px;
  }
  .about p {
    font-size: 18px;
    text-align: start;
  }
  .about h3 {
    font-size: 32px;
    text-align: start;
  }
  .about-left {
    padding-left: 30px;
    min-height: 600px;
  }
  .about-right {
    min-height: 0px;
    height: auto;
  }
  .about-right-item {
    padding-right: 70px;
    min-height: 500px;
  }
}

@media (max-width: 1370px) {
  .offer h1 {
    font-size: 90px;
  }
  .offer p {
    font-size: 24px;
  }
  .solution {
    min-height: 780px;
  }
  .solution-wrap-left {
    width: 650px;
    height: 360px;
  }
  .solution-wrap-left video {
    width: 650px;
    height: 360px;
  }
  .solution-wrap-left h3 {
    font-size: 24px;
  }
  .solution-wrap-left p {
    font-size: 18px;
  }
  .solution-wrap-right {
    width: -webkit-calc(100% - 650px);
    width: calc(100% - 650px);
    padding-top: 100px;
  }
  .solution-wrap-right-item {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .present-wrap {
    min-height: 750px;
    height: auto;
  }
  .about .container {
    padding-top: 70px;
  }
  .about .container::after {
    top: 90px;
  }
  .about-right-item {
    left: 110px;
    padding-right: 0;
  }
  .about-right-item div {
    display: block;
  }
  .about-right-item div img {
    margin-right: 0;
    margin-left: auto;
    max-width: 170px;
  }
  .about-left {
    min-height: 500px;
    padding-left: 0;
    padding-right: 110px;
  }
  .about-left h2 {
    font-size: 46px;
  }
  .news-wrap-item .date {
    font-size: 14px;
  }
  .news-wrap-item h3 {
    font-size: 14px;
  }
  .news-wrap-item p {
    font-size: 14px;
  }
  .news-wrap-item img {
    height: 170px;
  }
  .footer-brands {
    padding-bottom: 0;
  }
  .footer-nav ul li a {
    font-size: 16px;
  }
  .footer-footer .social a img {
    max-width: 20px;
    max-height: 20px;
  }
  .footer-footer p {
    font-size: 16px;
  }
  .footer-footer a.phone {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  .about-right-item h3 {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .about-right-item p {
    margin-bottom: 50px;
    font-size: 18px;
  }
  .solution {
    min-height: 700px;
  }
  .solution-wrap-left {
    width: 500px;
  }
  .solution-wrap-left-item {
    width: 500px;
  }
  .solution-wrap-left-item video {
    width: 500px;
    height: 300px;
  }
  .solution-wrap-right {
    width: -webkit-calc(100% - 500px);
    width: calc(100% - 500px);
    padding-top: 30px;
  }
  .present-wrap {
    min-height: 600px;
  }
  .present-wrap-item p {
    font-size: 18px;
  }
  .present-wrap-item img {
    min-height: 300px;
  }
  .footer-nav {
    margin-bottom: 20px;
  }
  .footer-brands {
    padding-bottom: 30px;
  }
  .footer-brands img {
    max-width: -webkit-calc(100% / 6);
    max-width: calc(100% / 6);
  }
}

@media (max-width: 992px) {
  .solution {
    min-height: 600px;
  }
  .solution-wrap-left {
    width: 400px;
  }
  .solution-wrap-left h3 {
    font-size: 20px;
  }
  .solution-wrap-left p {
    font-size: 16px;
  }
  .solution-wrap-left-item {
    width: 400px;
  }
  .solution-wrap-left-item video {
    width: 400px;
    height: 230px;
  }
  .solution-wrap-right {
    width: -webkit-calc(100% - 400px);
    width: calc(100% - 400px);
    padding-top: 10px;
  }
  .solution-wrap-right-item {
    font-size: 24px;
  }
  .present {
    padding-bottom: 50px;
  }
  .present-wrap {
    min-height: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .present-wrap-item {
    position: static;
    opacity: 1 !important;
  }
  .present-wrap-item p {
    font-size: 16px;
  }
  .about .container::after {
    top: 70px;
    max-width: 100px;
  }
  .about-right-item {
    left: 70px;
    background-color: rgba(0, 0, 0, 0);
  }
  .about-right-item h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .about-right-item p {
    font-size: 16px;
  }
  .about-right-item div img {
    max-width: 100px;
  }
  .about-left {
    padding-right: 70px;
    min-height: 400px;
  }
  .about-left h2 {
    font-size: 30px;
  }
  .news {
    padding-bottom: 0;
  }
  .news-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .news-wrap-item {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .footer-brands {
    margin-top: 0;
  }
  .footer-nav {
    padding-bottom: 0;
    margin-bottom: 50px;
  }
  .footer-nav ul li {
    margin-left: 10px;
  }
  .footer-nav ul li a {
    font-size: 12px;
  }
  .popup h3 {
    font-size: 20px;
  }
  .popup p {
    font-size: 14px;
  }
  .popup-wrap {
    width: 100%;
  }
  .popup-wrap-form {
    padding: 20px;
  }
  .popup-wrap-form-row {
    margin-bottom: 10px;
  }
  .popup-wrap-form-row input {
    height: 40px;
  }
  .popup-wrap-form-row textarea {
    height: 80px;
  }
  .popup-wrap-form-row label {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .popup-wrap-form-row input.button {
    height: 45px;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .solution {
    max-width: 100%;
    padding-right: 0;
    padding-left: 15px;
  }
  .solution-wrap .slick-list {
    padding-left: 0 !important;
  }
  .solution-wrap-right {
    display: none;
  }
  .solution-wrap-left {
    width: 100%;
    height: auto;
  }
  .solution-wrap-left-item {
    width: 100%;
    position: static;
    display: block;
    opacity: 1;
    margin-right: 50px;
  }
  .solution-wrap-left-item video {
    width: 100%;
    height: 400px;
  }
  .present-wrap-item img {
    -o-object-fit: contain;
       object-fit: contain;
    min-height: 0;
    width: 100%;
    max-width: 100%;
  }
  .about {
    -webkit-background-size: contain;
            background-size: contain;
    background-position: top;
  }
  .about .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .about .container::after {
    -webkit-transform: rotate(90deg) translateX(-50%);
        -ms-transform: rotate(90deg) translateX(-50%);
            transform: rotate(90deg) translateX(-50%);
    left: 43%;
    top: 270px;
  }
  .about-left {
    width: 100%;
    min-height: 0;
    padding-right: 0;
    height: 200px;
  }
  .about-left h2 {
    text-align: center;
    max-width: 200px;
    margin: auto;
  }
  .about-right {
    width: 100%;
    background-color: #F9F9F9;
    position: static;
    min-height: 400px;
  }
  .about-right-item {
    max-width: 540px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 320px;
  }
  .about-right-item div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-right-item div h3 {
    text-align: center;
  }
  .about-right-item div p {
    text-align: center;
  }
  .about.lazyloaded {
    background-image: url(../img/about-mob.jpg);
  }
  .footer-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-footer .social {
    margin: 50px 0;
  }
  .footer-nav {
    display: none;
  }
  .popup {
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
    width: 100%;
    padding-top: 30px;
  }
  .popup p {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .popup .close {
    top: 10px;
  }
}

@media (max-width: 578px) {
  .solution {
    max-height: 450px;
    min-height: 0;
  }
  .solution .title {
    display: none;
  }
  .solution-wrap-left {
    min-height: 0;
  }
  .solution-wrap-left-item {
    height: auto;
    margin-right: 20px;
  }
  .solution-wrap-left-item video {
    width: 100%;
    height: auto;
  }
  .solution-wrap-left-item h3 {
    font-size: 16px;
  }
  .solution-wrap-left-item p {
    font-size: 14px;
  }
  .present-wrap-item p {
    font-size: 14px;
    line-height: 1.5;
  }
  .present-wrap-item:nth-child(2) {
    position: relative;
  }
  .present-wrap-item:nth-child(2) img {
    width: -webkit-calc(100% + 250px);
    width: calc(100% + 250px);
    position: relative;
    left: -125px;
    max-width: 300%;
  }
  .about .container::after {
    left: 38%;
  }
  .about-right-item {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
  .about-right-item div h3, .about-right-item div p {
    text-align: left;
  }
  .news {
    margin-bottom: 40px;
    padding-right: 0;
  }
  .news-wrap .slick-list {
    padding-left: 0 !important;
  }
  .news-wrap-item {
    margin-bottom: 0;
    width: 100%;
    max-width: 88vw;
    margin-right: 20px;
  }
  .news-wrap-item img {
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    margin-left: 0;
    -o-object-position: left;
       object-position: left;
  }
  .news-wrap-item .date {
    margin-top: 15px;
  }
  .footer-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer-footer-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
  }
  .footer-footer .adress {
    width: 50%;
  }
  .footer-footer .phone {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
  .footer-footer .social {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-footer .social a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer-footer .social img {
    max-height: 30px;
    max-width: 30px;
  }
  .footer-brands img {
    margin-right: 20px;
  }
  .footer-brands .slick-track {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 380px) {
  .about .container::after {
    left: 36%;
  }
}

@media (max-width: 360px) {
  .about .container::after {
    left: 34%;
  }
}
