@import 'vars'
@import 'reset'




.button
	display: flex
	justify-content: center
	align-items: center
	background-color: $main
	border-radius: 4px
	color: $light
	transition: .2s
	height: 50px
	font-size: 20px
	width: 240px
	font-weight: 500
	cursor: pointer
	&:hover
		transition: .2s
		background-color: $hover

.title
  font-size: 60px
  margin-bottom: 50px
  display: block
  font-weight: 600
.header
  background-color: $dark
  padding-top: 20px
  padding-bottom: 20px
  width: 100%
  z-index: 50
  .container
    display: flex
    justify-content: space-between
    align-items: center
  &-logo
    object-fit: contain
    display: flex
    justify-content: flex-start
    align-items: center
    img
      display: block
  &-menu
    display: flex
    justify-content: center
    align-items: center
    ul
      display: flex
      justify-content: center
      align-items: center
      li
        margin: 0 15px
        a
          font-size: 20px
          transition: .2s
          font-weight: 500
          &:hover
            transition: .2s
            color: $hover

.header-menu
  ul
    li.menu-item-has-children
      z-index: 100
      &>ul
        position: absolute
        display: flex
        background-color: #1E1F27
        width: 100vw
        left: -300%
        top: 89px
        max-width: auto
        padding: 40px 170px 40px 170px
        justify-content: flex-start
        align-items: flex-start
        transition: .5s
        opacity: 0
        &::after
          position: absolute
          content: ''
          top: -40px
          left: 0
          width: 100%
          height: 40px
        &>li
          margin-right: 170px
          &>a
            font-size: 24px
            font-weight: 600
          &>ul
            display: block
            margin-top: 20px
            li
              margin: 0 0 20px 0
              a
                font-size: 18px
                font-weight: 400
                opacity: .8

.menu-active
  &>ul
    left: 0!important
    transition: .5s
    opacity: 1!important

.offer
  min-height: 940px
  background-image: url(../img/bg-offer.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: top
  padding-top: 100px
  padding-bottom: 70px
  .button
    display: none
  .container
    display: flex
    align-items: flex-start
    flex-direction: column
    overflow: hidden
  h1
    font-size: 140px
    font-weight: 500
    overflow: hidden
  p
    font-size: 34px
    margin-top: 10px
    overflow: hidden

.mob-header,
.mob-menu
  display: none



@import "header/_media1200"
@import "header/_media992"
@import "header/_media768"
@import "header/_media578"
