@media (max-width: 1620px)
  .header-menu ul#menu-menyu-v-shapke li.menu-item-has-children ul li
    margin-right: 60px
@media (max-width: 1420px)
  .header-menu ul#menu-menyu-v-shapke li.menu-item-has-children ul li ul li a
    font-size: 16px
  .header-menu ul#menu-menyu-v-shapke li.menu-item-has-children ul li a
    font-size: 20px
@media (max-width: 1370px)
  .header-menu ul#menu-menyu-v-shapke li.menu-item-has-children ul
    top: 50px
  .header-menu ul#menu-menyu-v-shapke li.menu-item-has-children ul
    padding-left: 150px
  .title
    font-size: 44px
  .header
    padding-top: 10px
    padding-bottom: 10px
    .button
      font-size: 18px
      height: 30px
      width: 150px
    &-menu
      ul
        li
          a
            font-size: 16px
  .offer
    min-height: 760px
    h1
      font-size: 90px
    p
      font-size: 24px
      
@media (max-width: 1260px)
  .header-menu ul#menu-menyu-v-shapke li.menu-item-has-children ul
    padding-left: 100px
@media (max-width: 1200px)
  .header-menu ul#menu-menyu-v-shapke li.menu-item-has-children ul
    padding-left: 30px
  .header-menu ul#menu-menyu-v-shapke li.menu-item-has-children ul li ul li a
    max-width: 280px
    display: block